@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300&display=swap");

.game-board-container {
  margin: 40px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  font-family: "Roboto Flex", sans-serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 505px 0px;
}

.square {
  background: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  font-size: 2em;
  font-weight: lighter;
}

.winner {
  height: 20px;
}

.board {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.winner {
  margin: 20px 50px;
  font-size: 1.3em;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .game-board-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .footer {
    margin-top: auto;
  }
}
